<!DOCTYPE html>
<head>
<title>Pagina Principal</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="./fonts/font-awesome/css/font-awesome.min.css">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="telaPrincipal.html">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a class="nav-link" href="Produtos.html">Produto </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Categoria.html">Categoria</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="Setor.html">Setores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="Responsavel.html">Responsaveis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Logout</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </nav>
</header>
<div id="titulo">
    <h1>SisProduct</h1>
    <h3>Sistema de Gerenciamento de Produtos</h3>
</div>
<footer>


<div class="container">
 
        <div class="row row-cols">
            <div class="col-md-12 col-popular-post hidden-xs">
                
                <ul class="list-unstyled list-socials">
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                            </li>
                            <li class="page-up">
                                <a href="#" id="page-up"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>

            </div>
        
            

                

            </div>

</div>

</div>

    

        


</footer>
</body>
</html>